/* =========== Common styles =========== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul,
ol {
list-style-type: none;
}
a {
text-decoration: none;
}
button {
cursor: pointer;
}
/* =========== Common styles =========== */

/* =========== Page Header styles =========== */
.logo {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.studio-color {
color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
color: #404bbf;
}
.menu-link:active {
color: #404bbf;
}
address {
    font-style: normal;
}
.address-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.address-item:hover,
.address-item:focus {
    color: #404bbf;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
/* =========== Page Header styles =========== */

.main-page {
background-color: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
}
.order-btn:hover,
.order-btn:focus {
background: #404bbf;
}

/* Benefits Styles */
.benefits-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
/* Benefits Styles */

/* Team Styles */
.team-section {
    background-color: #F4F4FD;
}
.team-person {
    background-color: #FFFFFF;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    background-color: #FFFFFF;
}
.team-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    background: #fff;
}
/* Team Styles */

/* Portfolio Styles */
.portfolio-title-main {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background: #fff;
}
.portfolio-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background: #fff;
}
/* Portfolio Styles */

/* =========== /Footer styles =========== */
.footer-item {
background-color:#2e2f42;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background: #2e2f42;
}
.logo-footer-studio {
    color: #f4f4fd;
}
.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
}
/* =========== /Footer styles =========== */